<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="content-type"  content="text/html">
    <meta html-equiv="content-lenguage" content="pt-br">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="public/stylesheets/style.css">
    <link rel="icon" href="public/imagens/logo.png">
    <script src="public/javascripts/jquery.js"></script>
    <script src="public/javascripts/inde.js"></script>
    <script>
      setTimeout(()=>{
        alerta('Nesta pagina você poderá adicionar um produto, primeiro informe os dados básicos')
      },500)
    </script>
    <title>Inicio</title>
  </head>
  <body>
    <!-- Cabecalho -->
    <div class="body">
      <header>
        <nav>
          <div style="position: relative;">
            <div class="seta " id="seta">
              <button id="seta1">
                <img src="public/imagens/seta.png" style="height: 100%; width: 100%; border-radius: 50%;">
              </button>
              <button id="perfil" class="perfil-none">
                <a href="/perfil">
                  <img src="public/imagens/perfil.png" style="height: 100%; width: 100%; border-radius: 50%;">
                </a>
              </button>
              <button id="opcaoCarrinho" class="perfil-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <img src="public/imagens/carrinho.png" style="height: 100%; width: 100%; border-radius: 50%;">
              </button>
              <button id="logout" class="perfil-none" type="button" href="/logout">
                <a href="logout">
                  <img src="public/imagens/logout.png" style="height: 100%; width: 100%; border-radius: 50%;">
                </a>
              </button>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
              <div class="offcanvas-header offcanvas-head">
                <h5 style="margin: 0 auto;">Seu carrinho de compras!</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="overflow-auto">
                <div> 
                  <div class="img-produto"><img src="public/imagens/carrinho.png"></div>
                  <div style="text-align: center; margin-top: 4px;">Leggie</div>
                </div>
                <div> 
                  <div class="img-produto"><img src="public/imagens/leggie.jpg"></div>
                  <div style="text-align: center; margin-top: 4px;">Leggie</div>
                </div>
                
                <div style="margin: 0 auto; background-color: #111111; width: 40%;">
                  <button type="button" class="btn btn-outline-light" style="width: 100%;">Finalizar Compras</button>
                </div>
              </div>
            </div>
          <div class="header">
            <div class="logo">
              <h1>Line Sport Fitness</h1>
            </div>
          </div>
          </div>
        </nav>
      </header>
      <!-- corpo -->
      <div style="display: grid; grid-template-columns: 1fr;">
        <div style="margin: 10px; padding: 5px 30px;">
            <div id="formularioRoupas">
              <div id="dadosBasicos" class="formularioRoupas">
                <h3>Primeiro insira uma descrição geral do produto!</h3>
                <div>
                  <span style="margin-top: 1%;" class="input-group-text" id="inputGroup-sizing-sm">Codigo:</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="codigo" required placeholder="2208">
                  <span style="margin-top: 1%;" class="input-group-text" id="inputGroup-sizing-sm">Nome:</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="nome" required placeholder="Legging Corsário">
                  <span style="margin-top: 1%;" class="input-group-text" id="inputGroup-sizing-sm">Preço Inicial:</span>
                  <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="preco" required placeholder="39.99">
                  <span style="margin-top: 1%;" class="input-group-text" id="inputGroup-sizing-sm">Quantidade Total:</span>
                  <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="qtd" required placeholder="40">
                  <span style="margin-top: 1%;" class="input-group-text" id="inputGroup-sizing-sm">Qual é a categoria?</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="categoria" required placeholder="Roupas de Academia">
                </div>
                <button type="button" class="btn btn-dark" style="width:100%; display:block" onclick="dadosBasicosButton()">Iniciar Cadastro</button>
              </div>
              <div id="divCores" style="display: none;" class="formularioRoupas">
                <h3 id="h3cor">Insira dados sobre os tecidos e cores!
                  <button type="button" onclick="addcor()">
                    <img src="public/imagens/mais.png" style="height: 100%; width: 100%; border-radius: 50%;">
                  </button>
                </h3>
                <div id="cor1">
                  <h2>1° Tecido/cor:</h2>
                  <span style="margin-top: 1%;" class="input-group-text" id="inputGroup-sizing-sm">Nome:</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="nomeCor" required placeholder="Preto" value="">
                  <span style="margin-top: 1%;" class="input-group-text" id="inputGroup-sizing-sm">Quantidade:</span>
                  <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="qtdCor" required placeholder="10" value="">
                  <span style="margin-top: 1%;" class="input-group-text" id="inputGroup-sizing-sm">Preço extra:</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="precoCor" required placeholder="5.00" value="">
                  <div class="mb-3" style="margin-top: 1%;">
                    <input class="form-control" type="file" id="file1" name="file1" multiple accept="image/jpeg, image/png" value="file1" required>
                  </div>
                </div>
                <button id="buttonCor" type="button" class="btn btn-dark" style="width:100%" onclick="dadosCores()">Adicionar Cores</button>
              </div>
              <div id="divTamanhos" style="display: none;" class="formularioRoupas">
                <h3 id="h3tamanho">Insira dados sobre os tamanhos!
                  <button type="button" onclick="addtamanho()">
                    <img src="public/imagens/mais.png" style="height: 100%; width: 100%; border-radius: 50%;">
                  </button>
                </h3>
                <div id="tamanho1">
                  <h2>1° Tamanho:</h2>
                  <span style="margin-top: 1%;" class="input-group-text" id="inputGroup-sizing-sm">Nome:</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="nomeTamanho" required>
                  <span style="margin-top: 1%;" class="input-group-text" id="inputGroup-sizing-sm">Descricao:</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="descricaoTamanho" required>
                  <span style="margin-top: 1%;" class="input-group-text" id="inputGroup-sizing-sm">Quantidade:</span>
                  <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="qtdTamanho" required>
                  <span style="margin-top: 1%;" class="input-group-text" id="inputGroup-sizing-sm">Preço extra:</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="precoTamanho" required>
                </div>
                <button id="buttonCor" type="button" class="btn btn-dark" style="width:100%" onclick="dadosTamanhos()">Adicionar Tamanhos</button>
              </div>
              <div id="divImagens" style="display: none;" class="formularioRoupas">
                <h3 id="h3imagens" style="display: none;">Insira as imagens</h3>
                <div id="divimagens" style="display: none;">
                  <div class="mb-3" id="file2" style="margin-top: 1%;">
                    <input class="form-control" type="file" name="file2" multiple accept="image/jpeg, image/png" value="file2">
                  </div>
                  <div class="mb-3" id="file3" style="margin-top: 1%;">
                    <input class="form-control" type="file" name="file3" multiple accept="image/jpeg, image/png" value="file3">
                  </div>
                  <div class="mb-3" id="file4" style="margin-top: 1%;">
                    <input class="form-control" type="file" name="file4" multiple accept="image/jpeg, image/png" value="file4">
                  </div>
                  <div class="mb-3" id="file5" style="margin-top: 1%;">
                    <input class="form-control" type="file" name="file5" multiple accept="image/jpeg, image/png" value="file5">
                  </div>
                  <div class="mb-3" id="file6" style="margin-top: 1%;">
                    <input class="form-control" type="file" name="file6" multiple accept="image/jpeg, image/png" value="file6">
                  </div>
                  <div class="mb-3" id="file7" style="margin-top: 1%;">
                    <input class="form-control" type="file" name="file7" multiple accept="image/jpeg, image/png" value="file7">
                  </div>
                </div>
                <button id="buttonCor" type="button" class="btn btn-dark" style="width:100%" onclick="dadosTamanhos()">Adicionar Cores</button>
              </div>
            </div>
        </div>  
      </div>
      <!-- Rodapé -->
      <!-- <footer id="footer" class="footer">
        <div>
          <p class="p-rodape">LSF - Line Sport Fitness</p>
        </div>
      </footer> -->
    </div>
    <script src="public/javascripts/bootstrap.bundle.min.js"></script>
  </body>
</html>