<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="public/stylesheets/style.css">
    <link rel="icon" href="public/imagens/logo.png">
    <style>
      body{
        font-family: 'Poiret One', cursive;
        height: 100%;
      }
    </style>
    <title>Inicio</title>
  </head>
  <body>
    <!-- Cabecalho -->
    <div class="body">
      <header>
        <nav>
          <div style="position: relative;">
            <div class="carrinho">
              <a class="btn btn-outline-light" href="/">Inicio</a>
            </div>
          <div class="header">
            <div style="margin: 0 auto; padding: 1%; max-width: 500px;">
              <h1 style="text-align: center; color: #ff00c8;">Line Sport Fitness</h1>
            </div>
          </div>
          </div>
        </nav>
      </header>
      <!-- corpo -->
      <div style="display: grid; grid-template-columns: 1fr;">
        <div style="margin: 0 auto;
        border-radius: 10px;
        box-shadow: 2.5px 2.5px 5px 2.5px rgba(0, 0, 0, 0.456);
        margin: 10px;">
          <a href="/addProduto" class="btn btn-dark">Adicionar Produto</a>
        </div>
      </div>
      <!-- Rodapé -->
      <footer>
        <div>
          <p class="p-rodape">Todos os Direitos Reservados.Copyright © 2022 • LSF - Line Sport Fitness</p>
        </div>
      </footer>
    </div>
    <script src="public/javascripts/bootstrap.bundle.min.js"></script>
  </body>
</html>