<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="public/stylesheets/style.css">
    <link rel="icon" href="public/imagens/logo.png">
    <style>
      html, body{
        font-family: 'Poiret One', cursive;
        color: #ff00c8;
      }
    </style>
    <script src="public/javascripts/jquery.js"></script>
    <script src="public/javascripts/inde.js"></script>
    <script>
      document.cookie;
      console.log(document.cookie.tecido)
    </script>
    <script>
      setTimeout(()=>{
        alert(` Esta é a pagina inicial, não tem nehuma conexão com o banco de dados ainda.\n\n Você pode andar pela pagina e ver algumas funcionalidades!\n\n Aqui não tem muita coisa para ver, a pagina admin tem admin tem mais funcionalidades.`
        )
      },1000)
    </script>
    <title>Inicio</title>
  </head>
  <body>
    <!-- Cabecalho -->
    <div class="body">
      <header>
        <nav>
          <div style="position: relative;">
            <div style="position: absolute; color: white; top: 0px; left:0px; display:block"><a href="/admin/" style="position: fixed; color: white; top: 0px; left:0px">Link para a pagina admin!</a></div>
            <div class="seta " id="seta">
              <button id="seta1">
                <img src="public/imagens/seta.png" style="height: 100%; width: 100%; border-radius: 50%;">
              </button>
              <button id="perfil" class="perfil-none">
                <a href="/perfil">
                  <img src="public/imagens/perfil.png" style="height: 100%; width: 100%; border-radius: 50%;">
                </a>
              </button>
              <button id="opcaoCarrinho" class="perfil-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <img src="public/imagens/carrinho.png" style="height: 100%; width: 100%; border-radius: 50%;">
              </button>
              <button id="logout" class="perfil-none" type="button" href="/logout">
                <a href="logout">
                  <img src="public/imagens/logout.png" style="height: 100%; width: 100%; border-radius: 50%;">
                </a>
              </button>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
              <div class="offcanvas-header offcanvas-head">
                <h5 style="margin: 0 auto;">Seu carrinho de compras!</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="overflow-auto">
                <div> 
                  <div class="img-produto"><img src="public/imagens/carrinho.png"></div>
                  <div style="text-align: center; margin-top: 4px;">Leggie</div>
                </div>
                <div> 
                  <div class="img-produto"><img src="public/imagens/leggie.jpg"></div>
                  <div style="text-align: center; margin-top: 4px;">Leggie</div>
                </div>
                
                <div style="margin: 0 auto; background-color: #111111; width: 40%;">
                  <button type="button" class="btn btn-outline-light" style="width: 100%;">Finalizar Compras</button>
                </div>
              </div>
            </div>
          <div class="header">
            <div class="logo">
              <h1>Line Sport Fitness</h1>
            </div>
          </div>
          </div>
        </nav>
      </header>
      <!-- corpo -->
      <div class="div-body">
        <div>
          <a href="/paginaRoupa" style="color: black; text-decoration: none;">
            <div class="img-produto">
              <img src="public/imagens/carrinho.png">
              <div style="text-align: center; margin-top: 4px; width: 300px;">Leggie</div>
            </div>
          </a>
        </div>
        <div>
          <a href="/paginaRoupa" style="color: black; text-decoration: none;">
            <div class="img-produto">
              <img src="public/imagens/carrinho.png">
              <div style="text-align: center; margin-top: 4px; width: 300px;">Leggie</div>
            </div>
          </a>
        </div>
        <div>
          <a href="/paginaRoupa" style="color: black; text-decoration: none;">
            <div class="img-produto">
              <img src="public/imagens/carrinho.png">
              <div style="text-align: center; margin-top: 4px; width: 300px;">Leggie</div>
            </div>
          </a>
        </div>
        <div>
          <a href="/paginaRoupa" style="color: black; text-decoration: none;">
            <div class="img-produto">
              <img src="public/imagens/leggie.jpg">
              <div style="text-align: center; margin-top: 4px; width: 300px;">Leggie</div>
            </div>
          </a>
        </div>
        <div>
          <a href="/paginaRoupa" style="color: black; text-decoration: none;">
            <div class="img-produto">
              <img src="public/imagens/carrinho.png">
              <div style="text-align: center; margin-top: 4px; width: 300px;">Leggie</div>
            </div>
          </a>
        </div>

      </div>
      <nav aria-label="...">
        <div class="paginacao">
          <ul>
            <li>
              <span class="ativa">1</span>
            </li>
            <li><a href="#" class="a">2</a></li>
            <li><a href="#" class="a">3</a></li>
          </ul>
        </div>
      </nav>
      <!-- Rodapé -->
      <footer id="footer" class="footer">
        <div>
          <p class="p-rodape">LSF - Line Sport Fitness</p>
        </div>
      </footer>
    </div>
    <script src="public/javascripts/bootstrap.bundle.min.js"></script>
  </body>
</html>